PORT = 8000
MONGODB_URI = "mongodb+srv://user-name:password@cluster0.i94phai.mongodb.net/?appName=Cluster0"
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET = "your-token"
ACCESS_TOKEN_EXPIRY = xd
REFRESH_TOKEN_SECRET = "your-token"
REFRESH_TOKEN_EXPIRY = xd
CLOUDINARY_CLOUD_NAME = "your-cloud-name"
CLOUDINARY_API_KEY = "your-api-key"
CLOUDINARY_API_SECRET = "your-secret-key"